@keyframes growRight {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    /*transform: translate3d(-3000px, 0, 0);*/
    transform: scaleX(1)
  }

  60% {
    opacity: 1;
    //transform: translate3d(25px, 0, 0);
    transform: scaleX(1.3)
  }

  75% {
    //transform: translate3d(-10px, 0, 0);
    transform: scaleX(.9)
  }

  90% {
    //transform: translate3d(5px, 0, 0);
    transform: scaleX(1.05)
  }

  to {
    //transform: translate3d(0, 0, 0);
    transform: scaleX(1)
  }
}


@keyframes pop{
  50%  {transform: scale(1.2);}
}

.animate {
  &.grow-right{
    animation: growRight 0.3s linear 1;
  }
  &.pop{
    animation: pop 0.3s linear 1;
  }
}
