.bg {
    &-image {
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    z-index: -1;
  }
  &-primary {
    background-color: $primary;
  }
  &-gray-100 {
    background-color: $gray-100;
  }
}
