.hero {
  display: flex;
  flex-direction: column;
  @include media-breakpoint-up(sm) {
    flex-direction: row;
  }
  &-image, &-text {
    width: 100%;
    flex: 1 1 100%;
    @include media-breakpoint-up(sm) {
      width: 50%;
      flex: 1 1 50%;
    }
  }
  &-image {
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      max-width: 100%;
    }
  }
  &-text {
    background-color: $primary;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: $spacer $spacer*2;
    @include media-breakpoint-up(sm) {
      padding: $spacer $spacer*3;
    }
    &:hover {
      text-decoration: none;
    }
    &-title, &-lead {
      color: $white;
      margin: 0;
    }
    &-title {
      position: relative;
      font-weight: 900;
      margin-bottom: $spacer*1.5;
      font-size: $font-size-title-h1*.8;
      @include media-breakpoint-up(sm) {
        font-size: $font-size-title-h1*1.1;
      }
      @include underline($white, $spacer*6);
    }
    &-lead {
      font-size: $font-size-lead*.8;
      @include media-breakpoint-up(sm) {
        font-size: $font-size-lead;
      }
    }
  }
}
