.hero {
  position: relative;
  overflow: hidden;
  background-color: $primary;
  @include media-breakpoint-up(md) {
    min-height: 25rem;
  }
  &-image {
    width: 100%;
    height: 100%;
    position: absolute;
    img {
      width: 100%;
      height: 100%;
      mix-blend-mode: multiply;
      object-fit: cover;
      object-position: center;
    }
  }
  &-text {
    width: 100%;
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: $spacer $spacer*2;
    @include media-breakpoint-up(sm) {
      padding: $spacer 0;
    }
    @include transition(background,in);
    &:hover {
      text-decoration: none;
      @include transition(background,out);
      .hero-text-lead {
        text-decoration: underline;
      }
    }
    &-title, &-lead {
      position: relative;
      color: $white;
      margin: 0;
    }
    &-title {
      font-weight: 900;
      margin-bottom: $spacer*1.5;
      font-size: $font-size-title-h1*.8;
      @include media-breakpoint-up(sm) {
        font-size: $font-size-title-h1*1.1;
      }
      @include underline($white, $spacer*6);
    }
    &-lead {
      margin-top: $spacer;
      font-size: $font-size-lead*.8;
      @include media-breakpoint-up(sm) {
        font-size: $font-size-lead;
      }
    }
  }
}
