/*
* Navigation
*/

.navbar {

  &-brand {
    height: 100%;
    margin-right: $spacer*2;
    @include media-breakpoint-up(sm){
      margin-left: $spacer*2;
    }
    img{
      height: $spacer*3;
    }
  }
  .nav {
    &-link {
      font-weight: 900;
      color: $black;
      @include transition(color opacity, in);
      @include media-breakpoint-up(sm){
        padding-right: $spacer*2.5 !important;
      }
      &:after {
        content: "";
        display: block;
        width: 100%;
        height: $spacer/4;
        background-color: $primary;
        opacity: 0;
        @include transition(opacity, in);
      }
      &:hover {
        color: $primary;
        @include transition(color, out);
        &:after {
          opacity: 1;
          @include transition(opacity, out);
        }
      }
      &.is-active {
        color: $primary;
        opacity: .65;
        @include transition(opacity, out);
        &:after {
          opacity: 0;
        }
      }
    }
  }
  &-toggler-icon {
    line-height: 1.5;
  }
}
