.news {
  &-title {
    position: relative;
    overflow: hidden;
    &-bg-image {
      position: absolute;
      width: 100%;
      mix-blend-mode: multiply;
      object-fit: cover;
      object-position: center;
    }
  }
  &-teaser {
    @include sectionSpacing(top bottom, padding);
    &-title {
      @include titleSpacing(top, padding);
    }
    &-item {
      $n: &; // Declare parent as a variable
      display: flex;
      flex-direction: column;
      margin-bottom: $spacer;
      background-color: $white;
      border-bottom: $spacer/8 solid $gray-300;
      color: $black;
      @include transition(box-shadow, in);
      &-image {
        overflow: hidden;
        img {
          width: 100%;
          height: auto;
           max-width: none;
          transform: scale(1);
          @include transition(transform, in);
        }
      }
      &-title {
        h3 {
          font-size: $font-size-title-h3*.8;
          margin: 0;
        }
        padding-top: $spacer/2;
        padding-right: $spacer/2;
        padding-left: $spacer/2;
        @include media-breakpoint-up(md) {
          padding-top: $spacer;
          padding-right: $spacer;
          padding-left: $spacer;
        }
      }
      &-description {
        padding: $spacer/2;
        @include media-breakpoint-up(md) {
          padding: $spacer;
        }
      }
      &:hover {
        text-decoration: none;
        @include boxShadow;
      }
      &:hover #{$n}-image {
        img {
          transform: scale(1.07);
          @include transition(transform, out);
        }
      }
    }
    &-btns {
      text-align: center;
      margin-top: $spacer;
      margin-bottom: $spacer;
    }
  }
}
