// Styling for the poll componenets.

.poll {
  .is-hidden {
    display: none;
  }
  &-candidate {
    @include sectionSpacing(bottom, padding);
    &-title {
      margin-bottom: $spacer*1.5;
    }
  }
  &-content {
    display: flex;
    flex-direction: column;
    &-image {
      position: relative;
      background-color: $gray-900;
      color: $white;
      img {
        width: 100%;
        height: auto;
        max-width: none;
      }
      &-text {
        margin: .5rem;
        display: inline-block;
      }
    }
    &-description {
      overflow: hidden;
      margin-bottom: $spacer;
      max-height: $spacer*14;
      @include transition(max-height, in);
      .expand &{
        @include transition(max-height, out);
        max-height: 100%;
      }
    }
    &-expand {
      margin-bottom: $spacer;
      i {
        @include transition(transform, in);
      }
      .less {
        display: none;
      }
      .expand & {
        i{
          @include transition(transform, out);
          transform: rotate(180deg);
        }
        .less {
          display: inline;
        }
        .more {
          display: none;
        }
      }
    }
    &-choose {
      margin-top: auto;
    }
  }
  &-teaser {
    @include sectionSpacing(top bottom, margin);
    &-title {
      @include titleSpacing(top bottom, margin);
      text-align: center;
    }
    &-item {
      $p: &; // Declare parent as a variable
      display: flex;
      flex-direction: column;
      box-sizing: content-box;
      @include transition(outline, in);
      outline: solid $spacer/4 transparent;
      outline-offset: $spacer/4;
      margin-bottom: $spacer;
      border-radius: $spacer/8;
      height: 100%;
      background-color: $gray-100;
      &-title {
        h3 {
          font-size: $font-size-title-h3*.75;
          margin-top: $spacer;
          margin-right: $spacer;
          margin-bottom: 0;
          margin-left: $spacer;
        }
      }
      &-image {
        &:after {
          content: "";
          background: linear-gradient(135deg, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); ;
          display: block;
          width: 100%;
          height: 100%;
        }
      }
      &-choice {
        background-color: $primary;
        color: $white;
        text-align: center;
        visibility: hidden;
        @include media-breakpoint-up(sm) {
          opacity: 0;
        }
        margin-top: auto;
        @include transition(opacity, in);
        @include transition(box-shadow, in);
        &-chosen {
          display: none;
        }
      }
      &:hover {
        @include boxShadow;
      }
      &.is-active {
        outline: solid $spacer/4 $primary;
        cursor: pointer;
        @include transition(outline, out);
      }
      &:hover #{$p}-choice, &.is-active #{$p}-choice {
        visibility: visible;
        opacity: 1;
        @include transition(opacity, out);
      }
      &.is-active #{$p}-choice-select {
        display: none;
      }
      &.is-active #{$p}-choice-chosen {
        display: block;
      }
    }
    &-btns {
      text-align: center;
      margin-top: $spacer*3;
    }
  }
  &-winners {
    @include sectionSpacing(top, padding);
    &-title, &-years {
      margin-bottom: $spacer*2;
    }
    &-years {
      color: $primary;
      .is-active {
        font-size: $font-size-lead;
        font-weight: bold;
        color: $gray-900;
      }
      .is-inactive {
        color: $gray-700;
      }
    }
  }
}

// Have the poll vote btn look like other btns
.poll-teaser-btns {
  .button--primary {
    @extend .btn;
    @extend .btn-lg;
    @extend .btn-primary;

    display: block;
    margin: 0 auto;
  }
}

.poll-view-form {
  display: inline-block;
  vertical-align: bottom;
}
