// Styling for the poll componenets.

.poll {
  .is-hidden {
    display: none;
  }

  &-teaser {
    @include sectionPadding;
    &-title {
      margin-bottom: $spacer*2;
      text-align: center;
    }
    &-item {
      $p: &; // Declare parent as a variable
      display: flex;
      flex-direction: column;
      box-sizing: content-box;
      @include transition(outline, in);
      outline: solid $spacer/4 transparent;
      outline-offset: $spacer/4;
      margin-bottom: $spacer;
      border-radius: $spacer/8;
      &-title {
        h3 {
          font-size: $font-size-title-h3*.75;
        }
      }
      &-image {}
      &-year {
        background-color: $primary;
        color: $white;
        @include media-breakpoint-up(sm) {
          width: 50%;
          align-self: flex-end;
          margin-top: -$spacer*.75;
          margin-right: $spacer/2;
          text-align: center;
          border-radius: $spacer/8;
        }
      }
      &-choice {
        background-color: $primary;
        color: $white;
        text-align: center;
        visibility: hidden;
        opacity: 0;
        border-radius: $spacer/8;
        @include transition(opacity, in);
      }
      &:hover, &.is-active {
        background-color: $white;
        outline: solid $spacer/4 $primary;
        @include transition(outline, out);
      }
      &:hover #{$p}-choice, &.is-active #{$p}-choice {
        visibility: visible;
        opacity: 1;
        @include transition(opacity, out);
      }
    }
    &-btns {
      text-align: center;
      margin-top: $spacer;
      margin-bottom: $spacer;
    }
  }
  &-winners {
    @include sectionPadding;
    &-title, &-years {
      margin-bottom: $spacer*2;
    }
    &-years {
      .is-active {
        font-size: $font-size-lead;
        font-weight: bold;
      }
    }
    &-content {
      &-image {
        background-color: $primary;
        color: $white;
        img {
          width: 100%;
          height: auto;
          max-width: none;
        }
        span {
          margin: .5rem;
          display: inline-block;
        }
      }
      &-year {
        height: 100%;
        .data {
          font-size: $font-size-title-h3;
          font-weight: 900;
        }
      }
    }
  }
}

.poll-teaser-btns {
  .button--primary {
    @extend .btn;
    @extend .btn-lg;
    @extend .btn-primary;

    display: block;
    margin: 0 auto;
  }
}

.poll-view-form {
  display: inline-block;
  vertical-align: bottom;
}