// add a underline to a text element.
.underline {
  @include underline();
}

// Lead text to follow a headline
.lead {
  font-family: $font-family-serif;
}

// Set main headings style
h1 {
  font-family: $font-family-black;
  text-transform: uppercase;
}

img {
  @include img-fluid;
}
