@mixin borderRadius {
  border-bottom-left-radius: $spacer*1.5 $spacer*2.5;
  border-bottom-right-radius: $spacer*2.5 $spacer*1.5;
  border-top-left-radius: $spacer*2.5 $spacer*1.5;
  border-top-right-radius: $spacer*1.5 $spacer*2.5;
}

.year-splash {
  position: absolute;
  margin: $spacer/2;
  width: $spacer*4.5;
  height: $spacer*4.5;
  @include media-breakpoint-down(sm) {
    width: $spacer*3;
    height: $spacer*3;
  }
  &-bg {
    @include borderRadius();
    background-color: $primary;
    mix-blend-mode: multiply;
    width: 100%;
    height: 100%;
    position: absolute;
  }
  &-year {
    position: relative;
    color: $white;
    line-height: $spacer*4.5;
    vertical-align: middle;
    text-align: center;
    font-size: $spacer*1.2;
    font-weight: 900;
    font-family: $font-family-black;
    @include transition(transform, in);
    transform-origin: center center;
    backface-visibility: hidden; // Added to prevent text jumping on hover
    @include media-breakpoint-down(sm) {
      line-height: $spacer*3;
      font-size: $spacer;
    }
  }
}
