/*
* Import bootstrap
*/
@import "custom"; /* Bootstrap overrides goes in this file */
@import "~bootstrap/scss/bootstrap";


/*
* Import scss dependencys
*/
@import "mixins";
@import "animate";
@import "utility";

/*
* Import component styling
*/
@import "navbar";
@import "hero";
@import "poll";
@import "background";
@import "news";
@import "year-splash"
