/*
* Import bootstrap
*/
@import "custom"; /* Bootstrap overrides goes in this file */
@import "~bootstrap/scss/bootstrap";


/*
* Import scss mixins
*/
@import "_mixins";

/*
* Import scss animations
*/
@import "_animate";

/*
* Import component styling
*/
@import "navbar";
@import "hero";
@import "poll";
@import "background";
@import "news";
