{#
/**
 * @file
 * Display of footer
 *
 * Available variables:
 * - config: The available texts
 * - image: A rendered image
 */
#}

<div class="hero row">
  <div class="hero-image">
    {{ image }}
  </div>
  <a href="{{ config.hero_link }}" class="hero-text">
    <h1 class="hero-text-title">{{ config.hero_title }}</h1>
    <p class="hero-text-lead">{{ config.hero_text }}</p>
  </a>
</div>
